body{
  background-color: #C8FFD4;
}

.container{
  display: flex;
  justify-content: center;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #227C70;

  margin-top:50px;
  padding:40px;
  color:#fff;
}
.btn{
  padding: 10px;
  background-color: #EA047E;
  border: none;
  width: 200px;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Archivo', sans-serif;
  cursor: pointer;

}
h4{
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
}
p{
  font-size: 20px;
  font-family: 'Archivo', sans-serif;
  
}
h1{
  font-family: 'Dancing Script', cursive;
  color: #EA047E;
  font-size: 50px;
}
h2{
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}
.btnBig{
  margin-top: 20px;
  background-color: #EA047E;
  color: #fff;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  padding: 15px;
  width: 430px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}